/* =================================== */
/* 1. ESTILOS GLOBAIS                  */ 
/* =================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    line-height: 1.6;
    color: var(--cor-texto-preto);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
