/* =================================== */
/* 0. VARIÁVEIS    */
/* =================================== */

:root {
    /* Fontes */
    --fonte-principal: 'Heebo', sans-serif;

    /* Paleta de Cores do Protótipo */
    --cor-vermelha: #c13b31;
    --cor-vermelho-forte: #a8261d; /* Vermelho mais forte do print */
    --cor-texto-preto: #212529;
    --cor-texto-branco: #ffffff;
    --cor-destaque: #1e3050; /* Verde-acinzentado escuro do print */
    --cor-destaque-amarela: #f0c14b; /* Amarelo do print */
    --cor-fundo-secao: #f9f9f9; /* Cinza claro */
    --cor-borda-sutil: #e0e0e0;
}