.link-destaque {
    display: inline-block;
    margin-top: 10px;
    color: var(--cor-destaque);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent; /* Linha de destaque */
    transition: border-color 0.3s ease;
}

.link-destaque:hover {
    border-color: var(--cor-destaque); /* Linha de destaque ao passar o mouse */
}

/* =================================== */
/* COMPONENTE: BOTÕES FIXOS LATERAIS   */
/* =================================== */

.botoes-fixos-container {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-fixo {
    display: flex;
    align-items: center;
    padding: 12px;
    color: var(--cor-texto-branco);
    text-decoration: none;
    font-weight: 700;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
    transition: width 0.3s ease-in-out;
    width: 45px; /* Largura inicial (só ícone) */
    overflow: hidden;
    white-space: nowrap;
}

.btn-fixo:hover {
    width: 160px; /* Largura expandida */
}

.btn-fixo i {
    font-size: 1.5rem;
    width: 26px; /* Largura fixa para o ícone */
    text-align: center;
}

.btn-texto {
    margin-left: 15px;
}

/* Cores específicas */
.btn-denunciar { background-color: var(--cor-vermelha); }
.btn-denunciar:hover { background-color: var(--cor-vermelho-forte); }

.btn-whatsapp { background-color: var(--cor-whatsapp); }
.btn-whatsapp:hover { background-color: #128C7E; }

#btn-voltar-topo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    
    background-color: var(--cor-vermelha);
    
    border: none;
    border-radius: 50%;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    cursor: pointer;
    z-index: 999;
    
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.4s ease;
}


#btn-voltar-topo.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#btn-voltar-topo svg {
    color: var(--cor-texto-branco);
    width: 18px;
    height: 18px;
}